@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: aliceblue;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem .5rem;
    background-color: rgb(43, 101, 226);

    & {
        img {
            width: 5.7rem;
            border-radius: 50%;
        }
    }
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0rem;

    & {

        h1 {
            font-size: .5rem;
            margin-left: .7rem;
            font-weight: 400;
        }

        span {
            font-size: 1rem;
            font-weight: 600;
            padding-left: .15rem;
        }
    }
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .1rem solid aliceblue;
    border-radius: 0rem 0rem .6rem .6rem;
    padding: .1rem .25rem .11rem .3rem;

    & {
        h2 {
            font-size: .5rem;
            font-weight: 435;
        }

        img {
            width: .67rem;
            height: auto;
            object-fit: cover;
            margin-left: .2rem;
        }

    }
}