@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242323;
    color: aliceblue;
}

main {
    height: 12.7rem;
    margin-top: 2rem;
    padding-top: .9rem;
}

.user-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: .6rem;
}

.infor-selo {
    background-color: #00000057;
    padding: .1rem .2rem .1rem .35em;
    border-radius: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: .2rem;

    & {
        img {
            object-fit: cover;
            width: .7rem;
        }
    }
}

.img-profile {
    width: 6.1rem;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

h1 {
    font-size: .5rem;
    font-weight: 300;

    & {
        span {
            font-size: .82rem;
            font-weight: 500;
            margin-left: .1rem;
        }
    }
}

h6 {
    font-size: .40rem;
    font-weight: 370;
    margin-right: .3rem;
    opacity: 0.9;
}